TestVacuum.xcodeproj/project.xcworkspace/xcshareddata/TestVacuum.xccheckout
TestVacuum.xcodeproj/project.xcworkspace/xcuserdata/daniel.biran.xcuserdatad/UserInterfaceState.xcuserstate
TestVacuum.xcodeproj/project.xcworkspace/xcuserdata/daniel.biran.xcuserdatad/WorkspaceSettings.xcsettings
TestVacuum.xcodeproj/xcuserdata/daniel.biran.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
TestVacuum.xcodeproj/xcuserdata/daniel.biran.xcuserdatad/xcschemes/TestVacuum.xcscheme
TestVacuum.xcodeproj/xcuserdata/daniel.biran.xcuserdatad/xcschemes/xcschememanagement.plist
